:root {
  --Color-Primary: #eb2f64;
  --Color-Primary-light: #ff3366;
  --Color-Primary-dark: #ba265d;
  --Color-Grey-light-1: #faf9f9;
  --Color-Grey-light-2: #f4f2f2;
  --Color-Grey-light-3: #f0eeee;
  --Color-Grey-light-4: #ccc;
  --Color-Grey-dark-1: #333;
  --Color-Grey-dark-2: #777;
  --Color-Grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba($color: #000000, $alpha: 0.3);
  --border-line: 1px solid var(--Color-Grey-light-2);

  --font-roboto: "Roboto", sans-serif;
  --font-Open: "Open Sans", sans-serif;
}

$bp_large: 75rem; //1200px
$bp_1100: 68.75rem; //1100px
$bp_950: 59.375rem; //9500px
$bp_600: 37.5rem; //600px
$bp_450: 28.125rem; // 450px

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp_1100) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp_600) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--Color-Grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--Color-Primary-light),
    var(--Color-Primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
