.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Color-Grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: white;
  border-bottom: 1px solid var(--Color-Grey-light-1);
}

.content {
  display: flex;
}

.side-bar {
  background-color: var(--Color-Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--Color-Grey-light-2);
  font-size: 1.4rem;
}

.descrition {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: var(--Color-Grey-light-1);
  border-bottom: var(--border-line);
  box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.06);
  padding: 3rem;
}
.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
